In [1]:
import requests
import numpy as np
import pandas as pd

movie_id = '550'
key = '01b23ac90628a022b13a52888ba8419e'

response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()

print(response['cast'][0]['name'])

Edward Norton

access actor photo = https://image.tmdb.org/t/p/original/a5ax2ICLrV6l0T74OSFvzssCQyQ.jpg

In [2]:
key = '01b23ac90628a022b13a52888ba8419e'

def get_movie_credits(movie_id):
    cast_list = []
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()
        i = len(response['cast'])
        for member in response['cast']:
            cast_list.append(member)
        return cast_list
    except:
        return cast_list

In [3]:
result = get_movie_credits(79513)
print(result)

[{'adult': False, 'gender': 2, 'id': 40201, 'known_for_department': 'Acting', 'name': 'Guy Madison', 'original_name': 'Guy Madison', 'popularity': 1.67, 'profile_path': '/4jyeTk80pk6r0Ma02HMIDpT7TTV.jpg', 'cast_id': 2, 'character': 'Henri Vallière', 'credit_id': '52fe49d6c3a368484e142bd7', 'order': 0}, {'adult': False, 'gender': 1, 'id': 19270, 'known_for_department': 'Acting', 'name': 'Michèle Mercier', 'original_name': 'Michèle Mercier', 'popularity': 5.756, 'profile_path': '/zMU4YCtUB4sxDJAJv8PQ0lXW5uK.jpg', 'cast_id': 3, 'character': 'Martine Foucher', 'credit_id': '52fe49d6c3a368484e142bdb', 'order': 1}, {'adult': False, 'gender': 0, 'id': 1188398, 'known_for_department': 'Acting', 'name': 'Federica Ranchi', 'original_name': 'Federica Ranchi', 'popularity': 0.6, 'profile_path': None, 'cast_id': 4, 'character': 'Jeanette', 'credit_id': '55cda272c3a3681bfc0017c1', 'order': 2}, {'adult': False, 'gender': 1, 'id': 50827, 'known_for_department': 'Acting', 'name': 'Marisa Belli', 'original_name': 'Marisa Belli', 'popularity': 0.828, 'profile_path': None, 'cast_id': 5, 'character': 'Melina', 'credit_id': '55cda27f92514131980016a6', 'order': 3}, {'adult': False, 'gender': 2, 'id': 101549, 'known_for_department': 'Acting', 'name': 'Paul Müller', 'original_name': 'Paul Müller', 'popularity': 3.092, 'profile_path': '/sOtKH3ouYaWH6EzNdfxNqCT6zUY.jpg', 'cast_id': 6, 'character': 'Lefèvre', 'credit_id': '55cda2909251413193001685', 'order': 4}, {'adult': False, 'gender': 2, 'id': 1046561, 'known_for_department': 'Acting', 'name': 'Tullio Altamura', 'original_name': 'Tullio Altamura', 'popularity': 0.6, 'profile_path': '/1Fmof8OeWWR0pXqAc1MwQlpXpn0.jpg', 'cast_id': 7, 'character': 'Dubois', 'credit_id': '55cda2a0c3a3681bf900180b', 'order': 5}, {'adult': False, 'gender': 0, 'id': 50006, 'known_for_department': 'Acting', 'name': 'Antonella Della Porta', 'original_name': 'Antonella Della Porta', 'popularity': 0.98, 'profile_path': None, 'cast_id': 8, 'character': 'Louise', 'credit_id': '55cda2b4925141319f001847', 'order': 6}, {'adult': False, 'gender': 1, 'id': 1063534, 'known_for_department': 'Acting', 'name': 'Gisella Arden', 'original_name': 'Gisella Arden', 'popularity': 0.6, 'profile_path': '/x8VJquCQ1ME6lKeMlRpgO0K9cb5.jpg', 'cast_id': 10, 'character': 'Maeva', 'credit_id': '55cda2ebc3a3681bff00186c', 'order': 8}, {'adult': False, 'gender': 0, 'id': 1496792, 'known_for_department': 'Acting', 'name': 'Fernando Piazza', 'original_name': 'Fernando Piazza', 'popularity': 0.6, 'profile_path': None, 'cast_id': 11, 'character': 'Michael', 'credit_id': '55cda2f9c3a3681bee001700', 'order': 9}, {'adult': False, 'gender': 1, 'id': 37783, 'known_for_department': 'Acting', 'name': 'Margaret Rose Keil', 'original_name': 'Margaret Rose Keil', 'popularity': 0.98, 'profile_path': '/miLiW3V6Aq8GC1kMEtEQdSChJdC.jpg', 'cast_id': 12, 'character': 'Rosy', 'credit_id': '55cda31092514131a20016e2', 'order': 10}, {'adult': False, 'gender': 0, 'id': 1496793, 'known_for_department': 'Acting', 'name': 'Claudine Damon', 'original_name': 'Claudine Damon', 'popularity': 0.6, 'profile_path': None, 'cast_id': 13, 'character': 'Pauline', 'credit_id': '55cda31bc3a3681bf50017de', 'order': 11}, {'adult': False, 'gender': 0, 'id': 1263759, 'known_for_department': 'Acting', 'name': 'Vera Besusso', 'original_name': 'Vera Besusso', 'popularity': 0.6, 'profile_path': None, 'cast_id': 14, 'character': 'Francoise', 'credit_id': '55cda32fc3a3681bf00014c8', 'order': 12}, {'adult': False, 'gender': 2, 'id': 50829, 'known_for_department': 'Acting', 'name': 'Carlo Hintermann', 'original_name': 'Carlo Hintermann', 'popularity': 0.6, 'profile_path': None, 'cast_id': 19, 'character': 'Captain Duval', 'credit_id': '56f931349251414c1d002eef', 'order': 13}]

In [4]:
def get_actor_photo(movie_id):
    cast_list = []
    base_url = 'https://image.tmdb.org/t/p/original'
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()
        i = len(response['cast'])
        for member in response['cast']:
            cast_list.append(base_url + member['profile_path'])
        return cast_list
    except:
        return cast_list

In [5]:
result_photo = get_actor_photo(550)
print(result_photo)

['https://image.tmdb.org/t/p/original/5XBzD5WuTyVQZeS4VI25z2moMeY.jpg', 'https://image.tmdb.org/t/p/original/cckcYc2v0yh1tc9QjRelptcOBko.jpg', 'https://image.tmdb.org/t/p/original/mW1NolxQmPE16Zg6zuWyZlFgOwL.jpg', 'https://image.tmdb.org/t/p/original/k9tJGdMkzOe17YH2ZCQjNnX5YLz.jpg', 'https://image.tmdb.org/t/p/original/ca3x0OfIKbJppZh8S1Alx3GfUZO.jpg', 'https://image.tmdb.org/t/p/original/fSyQKZO39sUsqY283GXiScOg3Hi.jpg', 'https://image.tmdb.org/t/p/original/a5ax2ICLrV6l0T74OSFvzssCQyQ.jpg', 'https://image.tmdb.org/t/p/original/hKqfGq1sPhZdQOlto0bS3igFZdP.jpg', 'https://image.tmdb.org/t/p/original/qpKZQn71Fwk6Gm1WZHL9IpVmcyO.jpg', 'https://image.tmdb.org/t/p/original/36LEerIIN7gpG52mM3Ier7YWDbh.jpg', 'https://image.tmdb.org/t/p/original/h1vwbOfITSvDvDq8E9MVvWqMYSr.jpg', 'https://image.tmdb.org/t/p/original/AmY8QpXyWUCOX4SewTVytjqD8rz.jpg', 'https://image.tmdb.org/t/p/original/j3kJRKgQdHAMXvJUtPHXJsGGW5X.jpg', 'https://image.tmdb.org/t/p/original/AczLnt4baxBT4gqSroSjCqD7S9D.jpg', 'https://image.tmdb.org/t/p/original/hktppGThiKu30lcGW9CicNuinhc.jpg', 'https://image.tmdb.org/t/p/original/yADROfK7uJkmd8p3GyjxH8WZqRL.jpg']

In [18]:
def get_movie_crew(movie_id):
    cast_list = []
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()
        i = len(response['crew'])
        for member in response['crew']:
            cast_list.append(member)
        return cast_list
    except:
        return cast_list

In [6]:
links = pd.read_csv('../raw_data/ml-25m/links.csv')
links = links.dropna(subset=['tmdbId'])
links['tmdbId'] = links['tmdbId'].astype(np.int32)
links.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [7]:
type(links['tmdbId'][0])

numpy.int32

In [8]:
data = pd.read_csv('../raw_data/treated-db/data.csv')
data.drop(columns=['title', 'genres', 'actors', 'overview', 'popularity',
       'vote_count', 'vote_average', 'runtime', 'release'], inplace=True)
print(data.shape)
data.head()

(23353, 1)

   movieId
0        1
1        2
2        3
3        4
4        5

In [9]:
data = pd.merge(data, links, on='movieId', how='inner')
print(data.shape)
data.head()

(23353, 3)

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

## Don't run code below unless you want a new .csv file

In [19]:
import csv
with open('credits.csv', 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',')
    spamwriter.writerow(['tmdbId','movie_crew'])
    for i in data['tmdbId']:
        result = get_movie_crew(i)
        spamwriter.writerow([i,result])

In [21]:
dt = pd.read_csv('../raw_data/tmdb-api/movies_crew.csv')
dt.

KeyError: 0