In [1]:
import requests
import numpy as np
import pandas as pd

movie_id = '550'
key = '01b23ac90628a022b13a52888ba8419e'

response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()

print(response['cast'][0]['name'])

Edward Norton

access actor photo = https://image.tmdb.org/t/p/original/a5ax2ICLrV6l0T74OSFvzssCQyQ.jpg

In [26]:
key = '01b23ac90628a022b13a52888ba8419e'

def get_movie_credits(movie_id):
    cast_list = []
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()
        i = len(response['cast'])
        for member in response['cast']:
            cast_list.append(member)
        return cast_list
    except:
        return cast_list

In [3]:
result = get_movie_credits(79513)
print(result)

['Guy Madison', 'Michèle Mercier', 'Federica Ranchi', 'Marisa Belli', 'Paul Müller', 'Tullio Altamura', 'Antonella Della Porta', 'Gisella Arden', 'Fernando Piazza', 'Margaret Rose Keil', 'Claudine Damon', 'Vera Besusso', 'Carlo Hintermann']

In [4]:
def get_actor_photo(movie_id):
    cast_list = []
    base_url = 'https://image.tmdb.org/t/p/original'
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={key}&language=en-US').json()
        i = len(response['cast'])
        for member in response['cast']:
            cast_list.append(base_url + member['profile_path'])
        return cast_list
    except:
        return cast_list

In [5]:
result_photo = get_actor_photo(550)
print(result_photo)

['https://image.tmdb.org/t/p/original/5XBzD5WuTyVQZeS4VI25z2moMeY.jpg', 'https://image.tmdb.org/t/p/original/cckcYc2v0yh1tc9QjRelptcOBko.jpg', 'https://image.tmdb.org/t/p/original/mW1NolxQmPE16Zg6zuWyZlFgOwL.jpg', 'https://image.tmdb.org/t/p/original/k9tJGdMkzOe17YH2ZCQjNnX5YLz.jpg', 'https://image.tmdb.org/t/p/original/ca3x0OfIKbJppZh8S1Alx3GfUZO.jpg', 'https://image.tmdb.org/t/p/original/fSyQKZO39sUsqY283GXiScOg3Hi.jpg', 'https://image.tmdb.org/t/p/original/a5ax2ICLrV6l0T74OSFvzssCQyQ.jpg', 'https://image.tmdb.org/t/p/original/hKqfGq1sPhZdQOlto0bS3igFZdP.jpg', 'https://image.tmdb.org/t/p/original/qpKZQn71Fwk6Gm1WZHL9IpVmcyO.jpg', 'https://image.tmdb.org/t/p/original/36LEerIIN7gpG52mM3Ier7YWDbh.jpg', 'https://image.tmdb.org/t/p/original/h1vwbOfITSvDvDq8E9MVvWqMYSr.jpg', 'https://image.tmdb.org/t/p/original/AmY8QpXyWUCOX4SewTVytjqD8rz.jpg', 'https://image.tmdb.org/t/p/original/j3kJRKgQdHAMXvJUtPHXJsGGW5X.jpg', 'https://image.tmdb.org/t/p/original/AczLnt4baxBT4gqSroSjCqD7S9D.jpg', 'https://image.tmdb.org/t/p/original/hktppGThiKu30lcGW9CicNuinhc.jpg', 'https://image.tmdb.org/t/p/original/yADROfK7uJkmd8p3GyjxH8WZqRL.jpg']

In [33]:
links = pd.read_csv('../raw_data/ml-25m/links.csv')
links = links.dropna(subset=['tmdbId'])
links['tmdbId'] = links['tmdbId'].astype(np.int32)
links.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [7]:
type(links['tmdbId'][0])

numpy.int32

## Don't run code below unless you want a new .csv file

In [39]:
import csv
with open('credits.csv', 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',')
    spamwriter.writerow(['tmdbId','movie_credits'])
    for i in links['tmdbId']:
        result = get_movie_credits(i)
        spamwriter.writerow([i,result])

In [42]:
dt = pd.read_csv('../raw_data/tmdb-api/movie_credits.csv')
dt

       tmdbId                                      movie_credits
0         862  [{'adult': False, 'gender': 2, 'id': 31, 'know...
1        8844  [{'adult': False, 'gender': 2, 'id': 2157, 'kn...
2       15602  [{'adult': False, 'gender': 2, 'id': 6837, 'kn...
3       31357  [{'adult': False, 'gender': 1, 'id': 8851, 'kn...
4       11862  [{'adult': False, 'gender': 2, 'id': 67773, 'k...
5         949  [{'adult': False, 'gender': 2, 'id': 1158, 'kn...
6       11860  [{'adult': False, 'gender': 2, 'id': 3, 'known...
7       45325  [{'adult': False, 'gender': 2, 'id': 53283, 'k...
8        9091  [{'adult': False, 'gender': 2, 'id': 15111, 'k...
9         710  [{'adult': False, 'gender': 2, 'id': 517, 'kno...
10       9087  [{'adult': False, 'gender': 2, 'id': 3392, 'kn...
11      12110  [{'adult': False, 'gender': 2, 'id': 7633, 'kn...
12      21032  [{'adult': False, 'gender': 2, 'id': 4724, 'kn...
13      10858  [{'adult': False, 'gender': 2, 'id': 4173, 'kn...
14       1408  [{'adult': False, 'gender': 1, 'id': 16935, 'k...
15        524  [{'adult': False, 'gender': 2, 'id': 380, 'kno...
16       4584  [{'adult': False, 'gender': 1, 'id': 7056, 'kn...
17          5  [{'adult': False, 'gender': 2, 'id': 3129, 'kn...
18       9273  [{'adult': False, 'gender': 2, 'id': 206, 'kno...
19      11517  [{'adult': False, 'gender': 2, 'id': 10814, 'k...
20       8012  [{'adult': False, 'gender': 2, 'id': 8891, 'kn...
21       1710  [{'adult': False, 'gender': 1, 'id': 10205, 'k...
22       9691  [{'adult': False, 'gender': 2, 'id': 16483, 'k...
23      12665  [{'adult': False, 'gender': 1, 'id': 2453, 'kn...
24        451  [{'adult': False, 'gender': 2, 'id': 2963, 'kn...
25      16420  [{'adult': False, 'gender': 2, 'id': 2975, 'kn...
26       9263  [{'adult': False, 'gender': 1, 'id': 6886, 'kn...
27      17015  [{'adult': False, 'gender': 1, 'id': 30318, 'k...
28        902  [{'adult': False, 'gender': 2, 'id': 2372, 'kn...
29      37557  [{'adult': False, 'gender': 1, 'id': 643, 'kno...
...       ...                                                ...
62286  193800                                                 []
62287  105427  [{'adult': False, 'gender': 2, 'id': 16475, 'k...
62288  376587  [{'adult': False, 'gender': 2, 'id': 81341, 'k...
62289  434360  [{'adult': False, 'gender': 0, 'id': 2024679, ...
62290  447225                                                 []
62291  631420  [{'adult': False, 'gender': 1, 'id': 1218614, ...
62292  108289                                                 []
62293  187548                                                 []
62294  389979  [{'adult': False, 'gender': 2, 'id': 124268, '...
62295  267635  [{'adult': False, 'gender': 2, 'id': 509344, '...
62296  312911  [{'adult': False, 'gender': 0, 'id': 1401848, ...
62297  341531                                                 []
62298  421074                                                 []
62299  113037  [{'adult': False, 'gender': 0, 'id': 1056199, ...
62300  519334                                                 []
62301   53028  [{'adult': False, 'gender': 1, 'id': 15200, 'k...
62302  148249  [{'adult': False, 'gender': 0, 'id': 1006833, ...
62303   71030  [{'adult': False, 'gender': 2, 'id': 560126, '...
62304  349082  [{'adult': False, 'gender': 2, 'id': 144515, '...
62305  646282  [{'adult': False, 'gender': 2, 'id': 34629, 'k...
62306  595924  [{'adult': False, 'gender': 2, 'id': 32058, 'k...
62307  176524  [{'adult': False, 'gender': 2, 'id': 16818, 'k...
62308  622831  [{'adult': False, 'gender': 2, 'id': 560190, '...
62309   18733  [{'adult': False, 'gender': 2, 'id': 58675, 'k...
62310   63813  [{'adult': False, 'gender': 2, 'id': 237966, '...
62311  499546  [{'adult': False, 'gender': 0, 'id': 2035466, ...
62312   63407  [{'adult': False, 'gender': 2, 'id': 54566, 'k...
62313  553036  [{'adult': False, 'gender': 2, 'id': 1365212, ...
62314  162892  [{'adult': False, 'gender': 1, 'id': 689, 'kno...
62315   79513  [{'adult': False, 'gender': 2, 'id': 40201, 'k...

[62316 rows x 2 columns]